@font-face {
  font-family: 'IRANYekan';
  src: url('//db.onlinewebfonts.com/t/235b71a9b409e684e865eb4a996e925e.eot');
  src: url('//db.onlinewebfonts.com/t/235b71a9b409e684e865eb4a996e925e.eot?#iefix')
      format('embedded-opentype'),
    url('//db.onlinewebfonts.com/t/235b71a9b409e684e865eb4a996e925e.woff2')
      format('woff2'),
    url('//db.onlinewebfonts.com/t/235b71a9b409e684e865eb4a996e925e.woff')
      format('woff'),
    url('//db.onlinewebfonts.com/t/235b71a9b409e684e865eb4a996e925e.ttf')
      format('truetype'),
    url('//db.onlinewebfonts.com/t/235b71a9b409e684e865eb4a996e925e.svg#IRANYekan')
      format('svg');
}

@font-face {
  font-family: 'Shams';
  src: url(./assets/fonts/Shams.ttf) format('truetype');
}

@font-face {
  font-family: 'Panda';
  src: url(./assets/fonts/SH.Panda.ttf) format('truetype');
}

@font-face {
  font-family: 'Blabeloo';
  src: url(./assets/fonts/SH.Blabeloo.ttf) format('truetype');
}

@font-face {
  font-family: 'DimaBarf';
  src: url(./assets/fonts/DimaBarf.ttf) format('truetype');
}

@font-face {
  font-family: 'DimaBarf2';
  src: url(./assets/fonts/DimaBarf2.ttf) format('truetype');
}

@font-face {
  font-family: 'MarkerFelt';
  src: url(./assets/fonts/MarkerFelt.ttf) format('truetype');
}

@font-face {
  font-family: 'Yekan';
  src: url('http://cdn.persianmedia.cloud/persianfont/iranyekan/fonts/woff/iranyekanwebregularfanum.woff')
    format('woff');
}

@font-face {
  font-family: 'Dima';
  src: url(./assets/fonts/DimaShekasteh.ttf) format('truetype');
}
